<div id="janky_drawer_toggle">Show</div>
<div id="janky_wrap">
  <div id="janky_content">
    <div id="janky_settings_toggle"></div>
    <div id="janky_reds">
    </div>
    <div id="janky_pending">
    </div>
    <div id="janky_greens">
    </div>
    <div id="janky_build_broke_cont">
      
    </div>
    <div id="janky_job_settings">
      <h2></h2>
      <input type="text" value="YouTube ID"/>
      <div class="janky_close"></div>
    </div>
  </div>
  <div id="janky_settings">
    <ul>
      <li>
        <h4>Start Expanded</h4>
        <div id="startup_shown" class="switch"></div>
      </li>
      <li>
        <h4>Refresh</h4>
        <span id="janky_refresh_slider_range">30s</span>
        <input id="janky_refresh_slider"type="range" min="0" max="90" value="30" step="5"/>
      </li>
    </ul>
  </div>
</div>