#janky_fixed{
  bottom: 0;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

#janky_wrap{
  background: url('http://cdn.portrit.com/black_linen_v2.png') top left repeat;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 10px;
}

#janky_wrap h3.strong{
  font-size: 1.75em;
  margin: 0px;
}

#janky_fixed #janky_drawer_toggle{
  background: url('https://s3.amazonaws.com/joneath/black_denim.png') top left repeat;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#janky_content{
  color: #fefefe;
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 0px 2px 3px #333;
}

#janky_content > div{
  clear: both;
}

#janky_content h1, #janky_content h2{
  margin: 0px;
  text-align: left;
}

#janky_content .janky_job{
  border-radius: 5px;
  float: left;
  height: 110px;
  margin: 10px;
  text-align: left;
  padding: 10px;
  width: 29%;
  -webkit-transition: background-color 2s ease-in;
  box-shadow: 0 0 2px 3px rgba(0,0,0,0.5);
  position: relative;
}

#janky_content .janky_job meter{
  width: 100%;
  height: 35px;
}

#janky_content #janky_reds > div{
  background-color: #ff0000;
}

#janky_reds .janky_job.on{
  background-color: #ff0000 !important;
}

#janky_reds .janky_job.off{
  background-color: #7d0000 !important;
}

#janky_pending .janky_job.on{
  background-color: #959595 !important;
}

#janky_pending .janky_job.off{
  background-color: #434343 !important;
}

#janky_content #janky_reds h1{
  color: #ff0000;
  font-size: 4em;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  -webkit-transition: color 2s ease-in;
}

#janky_content #janky_reds h1.on{
  color: #ff0000;
}

#janky_content #janky_reds h1.off{
  color: #7d0000;
}

#janky_content #janky_reds h2{
  font-size: 3em;
}

#janky_content #janky_pending{
  display: none;
}

#janky_content #janky_pending h1{
  color: #8e8e8e;
  font-size: 4em;
}

#janky_content #janky_pending h2{
  font-size: 3em;
}

#janky_content #janky_pending .janky_job{
  background-color: #959595;
}

#janky_content #janky_greens h1{
  color: #3aaa19;
  font-size: 4em;
}

#janky_content #janky_greens h2{
  font-size: 3em;
}

#janky_content #janky_greens .janky_job{
  background-color: #3aaa19;
  height: 75px;
  padding: 0px 10px;
  padding-bottom: 10px;
}

#janky_settings_toggle{
  background: url('https://s3.amazonaws.com/joneath/settings.png') top left repeat;
  cursor: pointer;
  height: 26px;
  width: 26px;
  position: absolute;
  right: 10px;
}

#janky_settings{
  box-shadow: 0 0 4px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  border: 2px solid #DEDEDE;
  display: none;
  position: absolute;
  right: 45px;
  height: 250px;
  background-color: #222222;
  width: 300px;
  top: 40px;
}

  #janky_settings ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

    #janky_settings ul li{
      clear: both;
      margin: 5px;
    }

    #janky_settings li h4{
      color: #fefefe;
      float: left;
      font-size: 16px;
      line-height: 50px;
      margin: 0px;
      margin-left: 5px;
    }

    #janky_settings .switch{
      position:           relative;
      cursor:             pointer;
      float:              right;
      margin-top:         4px;
    }

    .switch_on{
      cursor:             pointer;
      height:             43px;
      width:              117px;
      background-image:   url(http://portrit.s3.amazonaws.com/img/sprite.png);
      background-position: -238px -700px;
    }

    .switch_off{
      cursor:             pointer;
      height:             43px;
      width:              117px;
      background-image:   url(http://portrit.s3.amazonaws.com/img/sprite.png);
      background-position: -369px -700px;
    }

    #janky_settings #janky_refresh_slider{
      float: right;
      margin-top: 20px;
      margin-right: 15px;
    }

    #janky_settings #janky_refresh_slider_range{
      color: #fefefe;
      float: right;
      font-size: 16px;
      line-height: 50px;
      width: 30px;
    }
