#janky_fixed{
  bottom: 0;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

#janky_wrap{
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 20px;
  padding: 10px;
}

#janky_fixed #janky_drawer_toggle{
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  text-align: center;
  line-height: 20px;
}